<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593913229933-77n2bav32t65nt198a877733gp3fva6t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593913229933-77n2bav32t65nt198a877733gp3fva6t</string>
	<key>API_KEY</key>
	<string>AIzaSyDofuagBqyvdwKILeTMrNM2Z6GYtWw0sgY</string>
	<key>GCM_SENDER_ID</key>
	<string>593913229933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.barestu.expogooglesignin</string>
	<key>PROJECT_ID</key>
	<string>test--signin-c6978</string>
	<key>STORAGE_BUCKET</key>
	<string>test--signin-c6978.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593913229933:ios:a1c1945670b6b61d5b4564</string>
</dict>
</plist>